[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.25"
django-markdownx = "*"
pygments = "*"
django-tagulous = "*"
django-disqus = "*"
django-filter = "*"
django-crispy-forms = "*"

[dev-packages]
