[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.8"
django-markdownx = "*"
pygments = "*"
django-tagulous = "*"
django-disqus = "*"
django-filter = "*"
django-crispy-forms = "*"
psycopg2-binary = "*"
uwsgi = "*"

[dev-packages]
