@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
}

.navbar {
    min-height: 45px;
}

.navbar-light {
    background: rgba(0, 0, 0, 0.1);
}

.navbar li a {
    color: black;
}

.navbar-brand {
    padding: 0;
    height: 45px;
    line-height: 45px;
}

.navbar-brand .brand-text {
    color: black;
}

@media (min-width: 992px) {
    .navbar-nav > li > a {
        /* (45px - line-height of 18px) / 2 = 13.5px */
        padding-top: 13.5px;
        padding-bottom: 13.5px;
        line-height: 18px;
    }
}

.navbar-brand .brand-text:hover,
.navbar-brand .brand-text:focus {
    color: black;
}

.navbar .navbar-nav .nav-item > a {
    position: relative;
    color: black;
    text-decoration: none;
}

.navbar .navbar-nav .nav-item > a:hover,
.navbar .navbar-nav .nav-item > a:focus {
    color: black;
}

.navbar .navbar-nav .nav-item > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.navbar .navbar-nav .nav-item > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*PAGE STATUS*/
.navbar .navbar-nav .nav-item > .active {
    background-color: rgba(1, 1, 1, 0.1)
}

/*Content Image*/
.content-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 165px;
    width: 100vw;
}