<!-- templates/base.html -->
<!doctype html>
{% load static %}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'global.css' %}">
        {% block style %}{% endblock style %}
        <title>{% block title %}Mintlog{% endblock title %}</title>
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg py-0 fixed-top navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home'%}">Mintlog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav text-center">
                        {% with url_name=request.resolver_match.url_name %}
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'portfolio_list' or url_name == 'portfolio_detail' %}active{% endif %}" href="{% url 'portfolio_list' %}">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'post_list' or url_name == 'post_detail' %}active{% endif %}" href="{% url 'post_list' %}">Blog</a>
                        </li>
                        {% endwith %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Contents -->
        <div class="container">
            {% block content %}{% endblock content %}
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% block script %}{% endblock script %}
    </body>
</html>