<!-- templates/portfolio_detail.html -->
{% extends 'base.html' %}
{% load static %}
{% block style %}
    <!-- Load CSS for Syntax Highlighting -->
    <link rel="stylesheet" href="{% static 'pygments_css/default.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/portfolio_detail.css' %}">
{% endblock %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <div class="portfolio_detail">
        <span class="portfolio_published_at badge badge-mint">{{ object.published_at }}</span>
        <span class="tag">
            {% for tag in object.portfolio_tag.all %}
                <span class="badge badge-dark">{{ tag }}</span>
            {% endfor %}
        </span>
        <div class="portfolio_title">{{ object.title }}</div>
        <div class="portfolio_contents">{{ object.formatted_markdown|safe }}</div>
    </div>

    <div class="comments">
    {% load disqus_tags %}
    {% disqus_show_comments %}
    </div>

{% block script %}
    <!-- MathJax -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock %}

{% endblock content %}